.counter-back {
    background-color: #0c0d0f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .btn-manual {
    color: white;
    background-color: rgb(9, 138, 37);
  }
